<li class="pin-title sidebar-main-title">
    <div>
        <h6>Pinned</h6>
    </div>
</li>
<li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="#">
        <svg class="stroke-icon">
            <use href="/assets/svg/icon-sprite.svg#stroke-home"></use>
        </svg>
        <svg class="fill-icon">
            <use href="/assets/svg/icon-sprite.svg#fill-home"></use>
        </svg><span class="lan-3">Dashboard          </span>
    </a>
    <ul class="sidebar-submenu">
        <li><a class="lan-4" href="index.html">Default</a></li>
        <li><a class="lan-5" href="dashboard-02.html">Ecommerce</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="#">
        <svg class="stroke-icon">
            <use href="/assets/svg/icon-sprite.svg#stroke-widget"></use>
        </svg>
        <svg class="fill-icon">
            <use href="/assets/svg/icon-sprite.svg#fill-widget"></use>
        </svg><span class="lan-6">Widgets</span>
    </a>
    <ul class="sidebar-submenu">
        <li><a href="general-widget.html">General</a></li>
        <li> <a href="chart-widget.html">Chart</a></li>
    </ul>
</li>
<li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i>
    @await Html.PartialAsync("_LoginPartial")
</li>

<li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i>
    <a href="javascript:void(0);" class="sidebar-link sidebar-title link-nav" onclick="document.getElementById('logoutForm').submit();">
        <svg class="stroke-icon">
            <use href="../assets/svg/icon-sprite.svg#stroke-file"></use>
        </svg>
        <svg class="fill-icon">
            <use href="../assets/svg/icon-sprite.svg#fill-file"></use>
        </svg>
        <span>Logout</span>
    </a>
</li>
<form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" style="display:none;">
    @Html.AntiForgeryToken()
</form>

@* <li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i>
    <a class="sidebar-link sidebar-title link-nav" data-bs-toggle="modal" data-bs-target="#exampleModalCenter1">
        <svg class="stroke-icon">
            <use href="../assets/svg/icon-sprite.svg#stroke-file"></use>
        </svg>
        <svg class="fill-icon">
            <use href="../assets/svg/icon-sprite.svg#fill-file"></use>
        </svg><span>TesteModal</span>
    </a>
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-toggle-wrapper">
                        <ul class="modal-img">
                            <li> <img src="../assets/images/gif/danger.gif" alt="error"></li>
                        </ul>
                        <h4 class="text-center pb-2">Ohh! Something went wrong!</h4>
                        <p class="text-center">Attackers on malicious activity may trick you into doing something dangrous like installing software or revealing your personal informations.</p>
                        <button class="btn btn-secondary d-flex m-auto" type="button" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li> *@

<li class="sidebar-main-title">
    <div>
        <h6 class="lan-10">Secretaria</h6>
    </div>
</li>

<li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i>
    <a class="sidebar-link sidebar-title link-nav" asp-area="" asp-controller="Empresas" asp-action="Index">
        <svg class="stroke-icon">
            <use href="../assets/svg/icon-sprite.svg#stroke-file"></use>
        </svg>
        <svg class="fill-icon">
            <use href="../assets/svg/icon-sprite.svg#fill-file"></use>
        </svg><span>Empresas</span>
    </a>
</li>
<li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i>
    <a class="sidebar-link sidebar-title link-nav" asp-area="" asp-controller="Pessoas" asp-action="Index">
        <svg class="stroke-icon">
            <use href="../assets/svg/icon-sprite.svg#stroke-file"></use>
        </svg>
        <svg class="fill-icon">
            <use href="../assets/svg/icon-sprite.svg#fill-file"></use>
        </svg><span>Pessoas</span>
    </a>
</li>
<li class="sidebar-list">
    <i class="fa fa-thumb-tack"></i>
    <a class="sidebar-link sidebar-title link-nav" asp-area="" asp-controller="Professores" asp-action="Index">
        <svg class="stroke-icon">
            <use href="../assets/svg/icon-sprite.svg#stroke-file"></use>
        </svg>
        <svg class="fill-icon">
            <use href="../assets/svg/icon-sprite.svg#fill-file"></use>
        </svg><span>Professores</span>
    </a>
</li>

@*                   <li class="sidebar-list">
                      <i class="fa fa-thumb-tack">    </i><a class="sidebar-link sidebar-title" href="#">
                        <svg class="stroke-icon">
                            <use href="/assets/svg/icon-sprite.svg#stroke-project"></use>
                        </svg>
                        <svg class="fill-icon">
                            <use href="/assets/svg/icon-sprite.svg#fill-project"></use>
                        </svg><span>Empresas</span>
                      </a>
                    <ul class="sidebar-submenu">
                        <li><a asp-area="" asp-controller="Empresas" asp-action="Index">Listar Empresas</a></li>
                        <li><a href="projectcreate.html">Criar Empresa</a></li>
                    </ul>
                  </li> *@