<a class="sidebar-link sidebar-title link-nav" asp-area="" asp-controller="Account" asp-action="Login">
    <svg class="stroke-icon">
        <use href="../assets/svg/icon-sprite.svg#stroke-file"></use>
    </svg>
    <svg class="fill-icon">
        <use href="../assets/svg/icon-sprite.svg#fill-file"></use>
    </svg><span>Obter Token(Login)</span>
</a>