@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><BR />GradeA Escolas ;)</h1>
    <p><BR />Sistema para Gestão Escolar<BR />Powered By <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
